.celular{
    display: flex;
    justify-content: flex-end;
    margin-right: 165px;
    margin-top: 100px;
}

img{
    width: 492px;
    height: 1031;
}

.texto{
    height: 330px;
    width: 520px;
    margin-top: 160px;
    margin-right: 98px;
    margin-left: 165px;
    margin-bottom: 419px;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

h1{
    font-family: "Red Rose", serif;
    margin-bottom: 16px;
    font-size: 36px;
<<<<<<< HEAD
    font-weight: 700;
    line-height: 48px;
    color: #091133;
    text-shadow: #000000;
=======
    font-weight: 400;
    line-height: 48px;
    color: #091133;
    ;
>>>>>>> 806a0888c92cc9e4e4b2ece1d35ca6f589e95680
}

p{
    text-align: justify;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #6F7CB2;
    ;
}

.botao{
display: flex;
justify-content: center;
<<<<<<< HEAD
margin-top: 86px;
=======
>>>>>>> 806a0888c92cc9e4e4b2ece1d35ca6f589e95680
}

button{
    width: 190px;
    height: 36px;
<<<<<<< HEAD
    border: 3px solid #000000;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 26px;
=======
    border: 1px solid #000000;
>>>>>>> 806a0888c92cc9e4e4b2ece1d35ca6f589e95680
}

.b1{
    margin-left: 29px;
<<<<<<< HEAD
    background-color: white;
    color: #000000;
}

.b2{
    background-color: #111B47;
    color: white;
=======
>>>>>>> 806a0888c92cc9e4e4b2ece1d35ca6f589e95680
}